body {
    background-color: #F3F3F9;
    margin: 2px;
    padding: 0;
}

/*#nav {
    background-color: #3E3B39;
}*/

#header {
    background-color: #3E3B39;
}
/*
#headtitle {
    display: flex;
    justify-content: space-between;
}

#flx-itm {
    width: 15px;
    margin: 7px;
    text-align: center;
}
*/
img#mhbt-icon {
    margin-left: 3px;
}
/* img.mhbt-logo {
    display: inline;
    padding: 2rem;
}
*/